In [2]:
from io import StringIO
import pandas as pd

In [3]:
data =('col1,col2,col3\n'
      'x,y,1\n'
      'a,b,2\n'
      'c,d,3')

In [4]:
type(data)

str

In [5]:
#in memory file format object
StringIO(data)

In [10]:
df=pd.read_csv(StringIO(data))

In [11]:
pd.read_csv(StringIO(data),usecols=['col1','col2'])

  col1 col2
0    x    y
1    a    b
2    c    d

In [12]:
df.to_csv('test.csv')

In [22]:
##datatypes in csv
data =('a,b,c,d\n'
      '1,2,3,4\n'
      '5,6,7,8\n'
      '9,10,11')

In [23]:
df = pd.read_csv(StringIO(data))

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 1 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       2 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 96.0 bytes

In [17]:
df = pd.read_csv(StringIO(data),dtype="object")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 1 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1   b       3 non-null      object
 2   c       2 non-null      object
dtypes: object(3)
memory usage: 96.0+ bytes

In [24]:
df.head()

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

In [25]:
df.isnull().sum()

a    0
b    0
c    0
d    1
dtype: int64

In [27]:
df['a'][0]

1

In [28]:
data =('a,b,c,d\n'
      '1,2,3,4\n'
      '5,6,7,8\n'
      '9,10,11')

In [29]:
df = pd.read_csv(StringIO(data),dtype={'a':int,'b':float,'c':int})

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int32
 1   b       3 non-null      float64
 2   c       3 non-null      int32
 3   d       2 non-null      float64
dtypes: float64(2), int32(2)
memory usage: 204.0 bytes

In [31]:
df.dtypes

a      int32
b    float64
c      int32
d    float64
dtype: object

In [32]:
data= ('index,a,b,c\n'
      '4,apple,bat,5.7\n'
      '8,orange,cow,10')

In [34]:
pd.read_csv(StringIO(data),index_col=0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [45]:
#use index cols and usecols
data= ('a,b,c\n'
      '4,apple,bat\n'
      '8,orange,cow')

In [46]:
pd.read_csv(StringIO(data),usecols=['a','b','c'],index_col=0)

        b    c
a
4   apple  bat
8  orange  cow